#ENTRADAS SWITCH
	net ENTRADA(7) loc = M1;
	net ENTRADA(6) loc = P2;
	net ENTRADA(5) loc = N5;
	net ENTRADA(4) loc = T7;

	net ENTRADA(3) loc = R9;
	net ENTRADA(2) loc = P4;
	net ENTRADA(1) loc = R7;
	net ENTRADA(0) loc = N9;

# SALIDAS LEDS RGB
	NET LEDS_RGB(23) LOC = N1;
	NET LEDS_RGB(22) LOC = P1;
	NET LEDS_RGB(21) LOC = M4;

	NET LEDS_RGB(20) LOC = R2;
	NET LEDS_RGB(19) LOC = T4;
	NET LEDS_RGB(18) LOC = R1;

	NET LEDS_RGB(17) LOC = R5;
	NET LEDS_RGB(16) LOC = T6;
	NET LEDS_RGB(15) LOC = T5;

	NET LEDS_RGB(14) LOC = N8;
	NET LEDS_RGB(13) LOC = T9;
	NET LEDS_RGB(12) LOC = T8;

	NET LEDS_RGB(11) LOC = P11;
	NET LEDS_RGB(10) LOC = M12;
	NET LEDS_RGB(9)  LOC = M11;

	NET LEDS_RGB(8)  LOC = P6;
	NET LEDS_RGB(7)  LOC = N6;
	NET LEDS_RGB(6)  LOC = P5;

	NET LEDS_RGB(5)  LOC = P8;
	NET LEDS_RGB(4)  LOC = P9;
	NET LEDS_RGB(3)  LOC = P7;

	NET LEDS_RGB(2)  LOC = P12;
	NET LEDS_RGB(1)  LOC = N12;
	NET LEDS_RGB(0)  LOC = T12;